@{
    ViewBag.Title = "Lucy Manager";
}

<div class="jumbotron">
    <h1>Lucy Manager</h1>
    <p class="lead">Reservas de salas, laboratórios, auditórios e equipamentos</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum dolor</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit, sed diam nonummy nibh euismod tincidunt ut 
            laoreet dolore magna aliquam erat volutpat. 
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolor</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. 
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolor</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. 
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>